{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{url_for("static", filename="css/weather.css")}}">
{% endblock css %}

{% block js %}
<script src="{{url_for("static", filename="js/weather.js")}}" defer></script>
{% endblock js %}

{% block body_content %}
<main class="main-container">
    <h1 class="main-header">Welcome to the Weather Page!</h1>
    <ul>
      {% for disaster in weathers %}
        <li>{{ disaster['name'] }}</li>
      {% endfor %}
    </ul>
</main>
{% endblock body_content %}